<!doctype html>
<html>
<head>
  <style> ::-webkit-scrollbar { display: none; } </style>
</head>
<body>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
  <script src="dist/bundle.js"></script>
</body>

</html>
